apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-user
  labels:
    app: api-user

spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-user

  template:
    metadata:
      labels:
        app: api-user
    spec:
      containers:
      - name: api-user
        image: seifezz1995/udagram-api-user:v4a
        imagePullPolicy: Always
        resources:
          requests:
            memory: "500Mi"
            cpu: "400m"
          limits:
            memory: "1024Mi"
            cpu: "500m"
        envFrom:
          - secretRef:
              name: env-secret
          - configMapRef:
              name: env-configmap
          - secretRef:
              name: aws-secret
        ports:
          - containerPort: 8080